@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --primary: 0, 123, 255;
  --secondary: 255, 255, 255;
  --text: 0, 0, 0;
  --card: 245, 245, 245;
  background: rgba(var(--secondary));
}

.dark {
  --primary: 0, 123, 255;
  --secondary: 11, 11, 11;
  --text: 255, 255, 255;
  --card: 16, 16, 16;
  background: rgba(var(--secondary));
}
